.banklogo{
    width: 50%;
    height: 10%;
    padding: 0%;
    margin: 0;
}

.welcome-message{
    width: 70%;
    font-size:x-large;
    font-style:italic;
    font-display:initial;
    
}

#btn1{
    margin-left: 1160px;
}
