
<app-side-bar></app-side-bar>
<div class="account-detail-page main-section">

<div class="user-data">


    <div class="w3-container w3-card ">
        <h2 class="w3-text-grey w3-padding-12"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Account Details</h2>
        <div class="r">
          <h5 class="w3-opacity"><b>Account Holder Name</b></h5>
          <p>Sritama Mukherjee</p>
          <hr>
        </div>
        <div class="">
          <h5 class="w3-opacity"><b>Account Number</b></h5>
         <p>1234567890</p>
          <hr>
        </div>
        <div class="">
          <h5 class="w3-opacity"><b>IFSC Code</b></h5>
          <p>EASYBANK123</p>
          <hr>
        </div>
        <div class="">
            <h5 class="w3-opacity"><b>Branch Name</b></h5>
            <p>Bangalore manyata tech park</p><br>
          </div>
      </div>

</div>