

<!-- <div > -->

<!-- <div class="w3-top">
  <div class="w3-bar w3-blue w3-wide w3-padding w3-card">
    <div class="w3-left">
        <a href="#projects" class="w3-bar-item ">
            <img class="banklogo" src="assets/banklogo.png">
            
        </a>
        
        
    </div>  -->
    
    <!-- <div class="welcome-message w3-left w3-hide-small ">
      <a href="/account-detail" class=" w3-bar-item w3-button">Welcome User!</a>
    </div>
    <div class="w3-right w3-hide-small">
      <a href="/login-signup" class="w3-bar-item w3-button">Login/Sign up</a>
      
      <a href="#contact" class="w3-bar-item w3-button">Contact Us</a>
      <a href="#about" class=" w3-button">Help</a>
    </div>
    
  </div> -->


<div class="carousel">
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="assets/banner3.jpg" alt="Image 1">
      </div>
      <div class="carousel-item">
        <img src="assets/img1.PNG" alt="Image 2">
      </div>
      <div class="carousel-item">
        <img src="assets/img2.PNG" alt="Image 3">
      </div>
    </div>
</div>

<div class="image">
      <img src="assets/banner6.png">
    </div>


<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h6>About</h6>
        <p class="text-justify">One of the most leading banks in india<br>
          Overview<br>
          Investor Relations<br>
          Other Stakeholders' Information<br>
          News Room<br>
          Corporate Governance<br>
          Careers<br>
          CSR<br>
          Regulatory Disclosures</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Populer Products</h6>
        <ul class="footer-links">
          <li><a href="localhost/4200">Savings Accounts</a></li>
          <li><a href="localhost/4200">Current Accounts</a></li>
          <li><a href="localhost/4200">Credit card</a></li>
          <li><a href="localhost/4200">Home loan</a></li>
          <li><a href="localhost/4200">Car loan</a></li>
          <li><a href="localhost/4200">Personal loan</a></li>
          <li><a href="localhost/4200">Gold loan</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="localhost/4200">About Us</a></li>
          <li><a href="localhost/4200">Contact Us</a></li>
          <li><a href="localhost/4200">Contribute</a></li>
          <li><a href="localhost/4200">Privacy Policy</a></li>
          <li><a href="localhost/4200">Sitemap</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Rates and Charges</h6>
        <ul class="footer-links">
          <li><a href="localhost/4200">Interest Rates</a></li>
          <li><a href="localhost/4200">Service charges and fees</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by Sritama
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook">F</i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter">T</i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin">L</i></a></li>   
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin">I</i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>

  



    

